$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$back-color: #fff;
$second-color: rgba(212, 156, 126, 0.76);
@import "header";
@import "footer";
@import "responsive";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.category{
  .page-header-wrapper{
    margin-top: 15rem;
  }

  .stickers{
    padding: 0;
  }
}


