$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$back-color: #fff;
$second-color: rgba(212, 156, 126, 0.76);
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: $back-color;
  color: #000;
  padding: 0.2em 0;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

html, body, .container {
  height: 100%;
  padding: 0;
}

body {
  // background: url('../img/back.jpg');
  padding: 0;
  font-family: 'Neucha', cursive;
}
header{
  height: 15vh;
  background-color: #fff;
}

.carousel{
  width: 100%;
  height: auto;
  img{
    width: 100%;
    height: auto;
  }
  .carousel-indicators li {
    &.active{
        width: 16px;
    height: 16px;
    }

    width: 14px;
    height: 14px;
  }
  .item {
    -webkit-transition: transform 0.3s ease-in-out ;
    -moz-transition: transform 0.3s ease-in-out ;
    -o-transition: transform 0.3s ease-in-out ;
    transition: transform 0.3s ease-in-out ;
  }
}

.links{
  margin-bottom: 5rem;
  .icon{
    height: 10rem;
    width: 10rem;
    margin-top: 5rem;

    &.lang{
      background: url("../img/language-icon.png");
      background-size: 105%;
    }
    &.science{
      background: url("../img/lab-test.png");
      background-size: 100%;
    }
    &.art{
      background: url("../img/art.png");
      background-size: 100%;
    }
    &.games{
      background: url("../img/game.png") 1px 0px;
      background-size: 98%;
    }
  }
  p {
    text-align: justify;
    font-size: 2rem;

  }

}




  .image{
    img{
      max-height:100%;
    }
  }

  .about_bg{
    padding: 155px 0;
    background-image: url(../img/1.jpg);
    color: #fff;
  }

  .stretch {
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .shortcode_button {
      display:inline-block;
      margin:0 10px 10px 0;
      text-decoration:none;
      border:1px #f64747 solid;
      background-color:#f64747;
      color:#ffffff;
      transition: all 300ms;
      -webkit-transition: all 300ms;
      line-height:21px;
      font-size:14px;
      padding:6px 20px;
      font-weight:400;
      text-transform:none;
      vertical-align:top;
      text-align:center;
      border-radius:3px;
      -webkit-border-radius:3px;
    }
    .shortcode_button:hover {
      background-color:transparent;
      color:#2d2e2e;
      border-color:#2d2e2e;
    }
  }

  .content {

    .block1 {
      background: red;
    }
    .block1, .block2 {
      //    display: inline-block;
    }
    .block3 {
      background: blue;
    }
    .block4 {
      background: green;
    }
  }

  /* Custom page footer */
  .footer {
    .container {
      height: 100px;
    }
    margin-top: 20px;
  }



