$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$back-color: #fff;
$second-color: rgba(212, 156, 126, 0.76);
@import "header";
@import "footer";
@import "responsive";
@import "category";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: $back-color;
  color: #000;
  padding: 0.2em 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

html, body, .container {
  height: 100%;
  padding: 0;
}

body {
  // background: url('../img/back.jpg');
  padding: 0;
  font-family: 'Neucha', cursive;
}

header {
  background-color: #fff;
  .fix-to-top {
    position: fixed;
    top: 0;
  }
}

.carousel {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
  .carousel-indicators li {
    &.active {
      width: 16px;
      height: 16px;
    }

    width: 14px;
    height: 14px;
  }
  .item {
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
}

.links {
  margin-bottom: 5rem;
  .icon {
    height: 10rem;
    width: 10rem;
    margin-top: 5rem;

    &.lang {
      background: url("../img/language-icon.png");
      background-size: 105%;
    }
    &.science {
      background: url("../img/lab-test.png");
      background-size: 100%;
    }
    &.art {
      background: url("../img/art.png");
      background-size: 100%;
    }
    &.games {
      background: url("../img/game.png") 1px 0px;
      background-size: 98%;
    }
  }
  p {
    text-align: justify;
    font-size: 2rem;

  }

}

.editItem{
  color: #009860;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 150rem;
  display: block;
  position: relative;
  min-height: 80rem;
  padding-left: 20%;


  .buttons{
    padding-left: 0;
  }

  .btn{
    font-size: 2rem;
    padding: 1rem 4rem;
    margin: 1rem 1rem 0 0;
    width: 15rem;
  }

  .form-group{

  }

  .form-control{
    margin: 0 0 3rem 0;
    height: 5rem;
    font-size: 2rem;

  }
}

.image {
  img {
    max-height: 100%;
  }
}

.about_bg {
  padding: 155px 0;
  background-image: url(../img/1.jpg);
  color: #fff;
}

.about_art {
  padding: 155px 0;
  background-image: url(../img/2.jpg);
  color: #fff;
}

.about_science {
  padding: 155px 0;
  background-image: url(../img/3.jpg);
  color: #fff;
}

.about_languages {
  padding: 155px 0;
  background-image: url(../img/4.jpg);
  color: #fff;
}

.about_games {
  padding: 155px 0;
  background-image: url(../img/5.jpg);
  color: #fff;
}

.stretch {
  padding: 5em 0;

  img {
    width: 100%;
    height: 230px;
  }
  .block {
    cursor: pointer;
    h4 {
      padding-top: 0.5em;
      font-size: 3rem;
      border-bottom: 3px solid #fff;
      padding-bottom: 5px;
    }
    &.blue {
      background-color: #6fc4d9;
      box-shadow: 0px 4px 0px 0px #6fc4d9;
    }

    &.green {
      background-color: #6ab78a;
      box-shadow: 0px 4px 0px 0px #6ab78a;
    }

    &.purple {
      background-color: #ac7ab5;
      box-shadow: 0px 4px 0px 0px #ac7ab5;
    }

    &.red {
      background-color: #c86969;
      box-shadow: 0px 4px 0px 0px #c86969;
    }

    &.yellow {
      background-color: #e0b84e;
      box-shadow: 0px 4px 0px 0px #e0b84e;
    }
    color: #fff;
    padding: 0px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 1em;
    //position: absolute;
    //top: 0;
    @media (max-width: 992px) {
      position: relative;
      margin-bottom: 1em;
    }
    .image {
      height: 250px;
    }

  }
  p {
    font-size: 2rem;
  }
  .devider {
    width: 100%;
    height: 23px;
    background: url('../img/devider.png') no-repeat center center;
    margin: 5px 0 10px;
  }
  .text-center p {
    text-align: center;
  }
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .shortcode_button {
    display: inline-block;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border: 1px #f64747 solid;
    background-color: #f64747;
    color: #ffffff;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    line-height: 21px;
    font-size: 14px;
    padding: 6px 20px;
    font-weight: 400;
    text-transform: none;
    vertical-align: top;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .shortcode_button:hover {
    background-color: #FB6666;
    border-color: #2d2e2e;
  }
}
.stretch.item{
  .text-center {
    text-align: center;
    padding-top: 10em;
  }
   img{
     height: 100%;
   }
 }

.rating{
  width: 100%;
  height: 5em;
  span{
    outline:none;
  }
}



