<div class="content category">

  <div  class="stretch links">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>О НАС</h2>

          <div class="devider"></div>
          <p class="subtitle">ЗДЕСЬ ВЫ МОЖЕТЕ НАЙТИ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="icon games"></div>
          <h2>Игры</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

        <div class="col-md-3">
          <div class="icon lang"></div>
          <h2>Языки</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>

        </div>

        <div class="col-md-3">
          <div class="icon science"></div>
          <h2>Науки</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

        <div class="col-md-3">
          <div class="icon art"></div>
          <h2>Творчество</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>
    </div>
  </div>





</div>
