<div class="content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/slider1.jpg" alt="Slide 1">
      </div>

      <div class="item">
        <img src="img/slider2.jpg" alt="Slide 2">
      </div>

      <div class="item">
        <img src="img/slider3.jpg" alt="Slide 3">
      </div>

    </div>

  </div>

  <div  class="stretch links">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>О НАС</h2>

          <div class="devider"></div>
          <p class="subtitle">ЗДЕСЬ ВЫ МОЖЕТЕ НАЙТИ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="icon games"></div>
          <h2>Игры</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

        <div class="col-md-3">
          <div class="icon lang"></div>
          <h2>Языки</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>

        </div>

        <div class="col-md-3">
          <div class="icon science"></div>
          <h2>Науки</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

        <div class="col-md-3">
          <div class="icon art"></div>
          <h2>Творчество</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="stretch about_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><span>Мы Думаем о Будущем</span> Наших Детей</h2>

          <p>
            Наш образовательно-развлекательный портал содержит в себе очень большой объем интересной и полезной
            информации.
            Наши редакторы потоянно следят за ее актуальностью.
            Также здесь можно найти много увлекательных игр, которые помогут не только весело провести время,
            но научиться чему-нибудь новому.
          </p>
          <a href="#/category/about" class="shortcode_button">Узнать Больше</a>
        </div>
      </div>
    </div>
  </div>

  <!--ТВОРЧЕСТВО-->

  <div  class="stretch stickers">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>ТВОРЧЕСТВО</h2>

          <div class="devider"></div>
          <p class="subtitle">ЧЕМ ЗАНЯТЬСЯ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-sm-2" ng-repeat="art in arts | limitTo:6">
          <div ng-class=art.class>
            <img src={{art.image}} ng-show='!!(art.image)'/>
            <h4>{{art.header}}</h4>

            <p>{{art.text}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stretch about_art">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Творчество Создает Новые Идеи и Ценности Ребенка</h2>

          <p>
            Это одна из форм самостоятельной деятельности ребёнка, в процессе которой
            он отступает от привычных и знакомых ему способов проявления окружающего мира,
            экспериментирует и создаёт нечто новое для себя и других.
          </p>
          <a href="#/category/art" class="shortcode_button">Больше творчества</a>
        </div>
      </div>
    </div>
  </div>

  <!--НАУКИ-->

  <div class="stretch stickers">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>НАУКИ</h2>

          <div class="devider"></div>
          <p class="subtitle">УЗНАТЬ НОВОЕ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-sm-2" ng-repeat="science in sciences | limitTo:6">
          <div ng-class=science.class>
            <img src={{science.image}} ng-show='!!(science.image)'/>
            <h4>{{science.header}}</h4>

            <p>{{science.text}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stretch about_science">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Наука Может Быть Очень Веселой!</h2>

          <p>
            Занимательные лабораторные опыты, интересные факты, Совместные исследования и многое другое не оставят
            никого равнодушным к той или иной сфере науки.
          </p>
          <a href="#/science" class="shortcode_button">Больше науки</a>
        </div>
      </div>
    </div>
  </div>


  <!--ЯЗЫКИ-->

  <div class="stretch stickers">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>ЯЗЫКИ</h2>

          <div class="devider"></div>
          <p class="subtitle">УЧИМСЯ ГОВОРИТЬ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-sm-2" ng-repeat="language in languages | limitTo:6">
          <div ng-class=language.class>
            <img src={{language.image}} ng-show='!!(language.image)'/>
            <h4>{{language.header}}</h4>

            <p>{{language.text}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stretch about_languages">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Можно Говорить Со Всеми На Планете!</h2>

          <p>
            Развитие языковых способностей в раннем возрасте несомненно укрепит их в будущем.
            Английский, Немецкий, Французский и многие другие языки.
          </p>
          <a href="#/language" class="shortcode_button">Больше языков</a>
        </div>
      </div>
    </div>
  </div>

  <!--ИГРЫ-->

  <div class="stretch stickers">
    <div class="page-header-wrapper">
      <div class="container">
        <div class="text-center row ">
          <h2>ИГРЫ</h2>

          <div class="devider"></div>
          <p class="subtitle">ВЕСЕЛО ПРОВОДИМ ВРЕМЯ</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6" ng-repeat="game in games | limitTo:6">
          <div ng-class=game.class>
            <img src={{game.image}} ng-show='!!(game.image)'/>
            <h4>{{game.header}}</h4>

            <p>{{game.text}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stretch about_games">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Игры Являются Неотъемлемой Частью Детского Развития</h2>

          <p>
            Это не только приятное времяпрепровождение, но и разностороннее развитие ребенка.
            Каждый найдет для себя свой жанр и сможет отдохнуть после изучения одного из разделов.
          </p>
          <a href="#/game" class="shortcode_button">Больше игр</a>
        </div>
      </div>
    </div>
  </div>


</div>
