<footer>
  <div class="copyright">
    <div class="container">
      <p class="copyright-info">© 2015 Smart Kids. All rights reserved. Design by Margarita Zotova</p>
      <div class="footer-links">
        <ul class="dt-sc-social-icons">
          <li class="facebook"><a href="#/"><img src="img/facebook.png" alt="" title=""></a></li>
          <li class="twitter"><a href="#/"><img src="img/twitter.png" alt="" title=""></a></li>
          <li class="gplus"><a href="#/"><img src="img/gplus.png" alt="" title=""></a></li>
          <li class="pinterest"><a href="#/"><img src="img/pinterest.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
